// ===================================
// THEMES
// ===================================

/* ALTERNATIVE THEME - Blue */
.player-theme-blue {
    --player-primary-color: #2196F3;
    --player-primary-hover: #1976D2;
    --player-primary-dark: #1565C0;
}



/* ALTERNATIVE THEME - Green */
.player-theme-green {
    --player-primary-color: #4CAF50;
    --player-primary-hover: #45a049;
    --player-primary-dark: #388e3c;
}



/* ALTERNATIVE THEME - Red */
.player-theme-red {
    --player-primary-color: #f44336;
    --player-primary-hover: #d32f2f;
    --player-primary-dark: #c62828;
}


